body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: #f2f2f2;
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.App {
    display: flex;
    flex-direction: column;

    align-items: center;
}

#root {
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.a {
    text-decoration: none;
    color: #13c400;
    margin: 0px 10px 0px 10px;
}

.bold {
    font-weight: bold;
}

.sect {
    background: white;
    padding: 20px;
    width: 50%;
    margin-top: 10px;
}

input {
    padding: 12px 22px;
    border: none;
    background: #F2F2F2;
    outline: none;
}

button {
    padding: 12px 22px;
    border: none;
    background: #F2F2F2;
    outline: none;
    margin-top: 10px;

    transition: .3s;
}

button:hover {
    background: #13C400;
    color: white;
}



